# Asset files
assets/params*
assets/seed

# Built binaries
build/bin

coverage.txt
*.integration.txt

# Visual Studio Code
.vscode

# IntelliJ
.idea

# MacOS
.DS_Store

# misc
sftp-config.json
*~

#1
#2
#3
#4
#5
#6
#7
#8
#9
#10
#11
